Flask==2.3.3 # Atau versi terbaru yang stabil
Flask-MySQLdb==1.0.1 # Atau versi terbaru yang stabil
python-dotenv==1.0.0 # Atau versi terbaru yang stabil
mysqlclient==2.2.0 # Atau versi terbaru yang stabil, pastikan ini ada jika Flask-MySQLdb membutuhkannya